<!DOCTYPE html>
{{ "<!-- Found a bug? Report it at webdevs@delabiemedia.be -->" | safeHTML }}
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Page.Params.Title }} | Delabie Media</title>
    <meta name="author" content="Andreas Delabie">
    <meta name="description" content="{{ .Page.Summary | plainify | truncate 120 }}">
    <meta name="keywords" content="andreas, delabie, media, delarmy, studios, studio's, regisseur, filmmaker, filmman, filmen, film, films, cameraman, fotograaf, foto, foto's, fotografie, fotograffie, video, video's, videoproductie, videograaf, productie, portret, portretten, portretfotografie, evenement, evenementen, event, events, evenementfotografie, eventfotografie, kortfilm, kortfilms, shortfilm, shortfilms, advertentie, advertentievideo, reclame, reclamevideo, reclamefoto, reclamefotos, reclamefotografie, marketing, marketingvideo, marketingfotografie, product, producten, productfotografie, communie, comunnie, comunie, dienst, diensten, belgië, belgie, bedrijf, bedrijven, boeken, huren, prijzen, lochristi, lokeren, gent, wachtebeke, oostakker, hijfte, sint-amandsberg, gentbrugge, destelbergen, beervelde, melle, wetteren, geraardsbergen, in de buurt, oost-vlaanderen, vlaanderen, gezocht, freelance, zelfstandig, zelfstandige, vastgoed, betaalbaar, betaalbare, goedkoop, goedkope">
    <link rel="canonical" href="{{ .Page.Permalink}}">
    <link rel="alternate" href="https://delabiemedia.be/projecten/index.xml" type="application/rss+xml" title="RSS">
    <meta property="og:title" content="{{ .Page.Params.Title }} | Delabie Media">
    <meta property="og:description" content="{{ .Page.Summary | plainify | truncate 120 }}">
    <meta property="og:type" content="video.other">
    <meta property="og:url" content="{{ .Page.Permalink }}">
    <meta property="og:site_name" content="Delabie Media">
    <meta property="og:image" content="https://delabiemedia.be/assets/DelabieMedia_Favicon_128px.png">
    <meta property="article:author" content="Andreas Delabie">
    <meta property="video:director" content="{{ .Page.Params.Director }}">
    <meta property="video:writer" content="{{ .Page.Params.Writer }}">
    <meta property="video:duration" content="{{ .Page.Params.Duration }}">
    <meta property="video:release_date" content='{{ .Page.Params.Date.Format "2006-01-02" }}'>
    <link rel="shortcut icon" href="/assets/DelabieMedia_Favicon_128px.png" type="image/x-icon">
    {{ with resources.Get "scss/style-global.scss" | toCSS | minify | fingerprint }}<link rel="stylesheet" href="{{ .RelPermalink }}" />{{ end }}
    {{ with resources.Get "scss/style-projecten.scss" | toCSS | minify | fingerprint }}<link rel="stylesheet" href="{{ .RelPermalink }}" />{{ end }}
    {{ with resources.Get "js/cookies.js" | minify | fingerprint }}<script src="{{ .RelPermalink }}" defer></script>{{ end }}
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Gsap -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
    {{ with resources.Get "js/animation-global.js" | minify | fingerprint }}<script src="{{ .RelPermalink }}" defer></script>{{ end }}
</head>

<body>
    {{ partial "header.html" . }}
    <main>
        <section class="project">
            <div class="content">
                <div class="title">
                    <h2>{{ .Page.Params.Title }}</h2>
                    <div class="stripes">
                        <div class="white"></div>
                        <div class="yellow"></div>
                        <div class="cyan"></div>
                        <div class="green"></div>
                        <div class="magenta"></div>
                        <div class="red"></div>
                        <div class="blue"></div>
                        <div class="black"></div>
                    </div>
                </div>
                {{ range .Page.Params.Id }}
                <div class="video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ . }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                {{ end }}
                <div class="description">
                    {{ .Content }}
                    <script>
                        document.querySelectorAll('.description a').forEach(function (link) {
                            link.setAttribute('target', '_blank');
                        });
                    </script>
                </div>
                {{ if .Page.Params.links }}
                <div class="links">
                {{ range .Page.Params.links }}
                    <a href="{{ .link }}" target="_blank"><button>{{ .name }}</button></a>
                {{ end }}
                </div>
                {{ end }}
            </div>
            <style>
                .project {
                    background-image: {{ $image := resources.Get .Page.Params.Background }}url({{($image.Resize "x1080 q100 webp").RelPermalink}});
                    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, {{ .Page.Params.Transparancy | default "0.5"}});
                    color: var(--{{ .Page.Params.Color | default "white" }});
                }
            </style>
        </section>
    </main>
    {{ partial "footer.html" }}
    {{ partial "cookiebanner.html" }}
</body>

</html>