.cookie-disclaimer {
  min-height: 100vh;
  padding: 200px 100px 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white);
}
@media screen and (max-width: 768px) {
  .cookie-disclaimer {
    padding: 125px 10px 50px 10px;
  }
}
.cookie-disclaimer .content {
  max-width: 75ch;
  text-wrap: balance;
}
.cookie-disclaimer .content a {
  color: var(--logo-magenta);
  text-decoration: none;
  overflow-wrap: anywhere;
}
.cookie-disclaimer .content a:hover {
  color: var(--logo-green);
  text-decoration: underline;
}