:root {
  --grey: #1d1d1d;
  --white: #f0f0f0;
  --logo-white: #d9d9d9;
  --logo-yellow: #f9fb00;
  --logo-cyan: #02feff;
  --logo-green: #01ff00;
  --logo-magenta: #fd00fb;
  --logo-red: #fb0102;
  --logo-blue: #0301fc;
  --logo-black: #404040;
  --fs-small: 1rem;
  --fs-medium: 1.5rem;
  --fs-large: 3rem;
}
@media screen and (max-width: 768px) {
  :root {
    --fs-large: 2.5rem ;
  }
}

body {
  margin: 0;
  background-color: var(--grey);
}
body * {
  font-family: Montserrat, sans-serif;
}
body h2 {
  font-size: var(--fs-large);
  font-weight: 800;
  line-height: 1em;
  margin: 0.5em 0 0.5em;
}
body h3 {
  font-size: var(--fs-medium);
  line-height: 1.2em;
  margin: 0.5em 0 0.5em;
}
body p {
  font-size: var(--fs-small);
  line-height: 1.2em;
  margin: 0.5em 0 0.5em;
}
body a {
  font-size: var(--fs-small);
  line-height: 1.2em;
}
body ul, body ol, body li {
  font-size: var(--fs-small);
  line-height: 1.2em;
  margin: 0.5em 0 0.5em;
}
body button {
  padding: 5px;
  background-color: var(--logo-black);
  border: none;
  border-radius: 10px;
  font-size: var(--fs-small);
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
body button:hover {
  background-color: var(--white);
  color: var(--grey);
}
body table, body th, body td {
  text-align: start;
  border: 1px solid var(--logo-black);
  border-spacing: 0;
}
body table th, body table td, body th th, body th td, body td th, body td td {
  padding: 5px;
}
body table th, body th th, body td th {
  background-color: var(--logo-black);
}
body .default-padding {
  padding: 100px 100px 100px 100px;
}
@media screen and (max-width: 768px) {
  body .default-padding {
    padding: 50px 10px 50px 10px;
  }
}
body .flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
body .flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
body .flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  width: 100%;
  position: fixed;
  background-color: rgba(29, 29, 29, 0.95);
  color: var(--white);
  z-index: 1000;
}
header .header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 75px;
  padding: 10px 50px 10px 50px;
}
header .header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
header .header .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
header .header .middle a {
  text-decoration: none;
  color: var(--white);
}
header .header .middle a:hover {
  color: var(--logo-green);
  text-decoration: underline;
}
header .header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header .right a {
  text-decoration: none;
  color: var(--white);
}
@media screen and (max-width: 768px) {
  header .header {
    display: none;
  }
}
header .header-mobile {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 75px;
  padding: 10px 15px 10px 15px;
}
header .header-mobile .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
header .header-mobile .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header-mobile .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header-mobile .right a {
  text-decoration: none;
  color: var(--white);
}
header .header-mobile .menu {
  width: 100%;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(64, 64, 64, 0.95);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
header .header-mobile .menu a {
  font-size: var(--fs-large);
  font-weight: 600;
  margin: 10px;
  text-decoration: none;
  color: var(--white);
}
header .header-mobile .menu .close-menu {
  position: fixed;
  right: 15px;
  top: 15px;
}
@media screen and (min-width: 768px) {
  header .header-mobile {
    display: none;
  }
}

.title {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.title h2 {
  margin-bottom: 10px;
}
.title .stripes {
  max-width: 100%;
  height: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 3%;
     -moz-column-gap: 3%;
          column-gap: 3%;
}
.title .stripes .white {
  background-color: var(--logo-white);
}
.title .stripes .yellow {
  background-color: var(--logo-yellow);
}
.title .stripes .cyan {
  background-color: var(--logo-cyan);
}
.title .stripes .green {
  background-color: var(--logo-green);
}
.title .stripes .magenta {
  background-color: var(--logo-magenta);
}
.title .stripes .red {
  background-color: var(--logo-red);
}
.title .stripes .blue {
  background-color: var(--logo-blue);
}
.title .stripes .black {
  background-color: var(--logo-black);
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 15px 50px 15px 50px;
  background-color: var(--grey);
  color: var(--white);
}
footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
footer .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
footer .middle * {
  margin: 0;
}
footer .middle a {
  text-decoration: none;
  color: var(--logo-magenta);
}
footer .middle a:hover {
  text-decoration: underline;
  color: var(--logo-green);
}
footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 15px;
}
@media screen and (max-width: 768px) {
  footer {
    display: block;
    text-align: center;
  }
  footer .left {
    display: block;
    margin: 0 0 10px;
  }
  footer .middle {
    display: block;
    margin: 0 0 10px;
  }
  footer .right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#cookiebanner {
  display: none;
  max-width: 350px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 1000;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white);
}
#cookiebanner a {
  text-decoration: none;
  color: var(--logo-magenta);
}
#cookiebanner a:hover {
  text-decoration: underline;
  color: var(--logo-green);
}