<footer>
    <div class="left">
        <p>Dorp-Oost 160, 9080 Lochristi</p>
        <p>Powered by <a href="https://amplo.be/" target="_blank">Amplo</a></p>
    </div>
    <div class="middle">
        <div class="copyright">
            <p>Copyright © {{ time.Now.Year }} Delabie Media<br>(Alle rechten voorbehouden)</p>
        </div>
        <div class="legal">
            <a href="/cookies" class="cookies">cookies</a>
            ·
            <a href="/algemene-voorwaarden" class="algemene-voorwaarden">algemene voorwaarden</a>
            ·
            <a href="/privacy" class="privacy">privacy</a>
        </div>
    </div>
    <div class="right">
        <div class="socials">
            <a href="https://www.instagram.com/delabie_media" target="_blank"><img src="/assets/icons/DelabieMedia_Icon_Instagram.svg" alt="Instagram logo" height="21px"></a>
            <a href="https://www.facebook.com/delabiemedia/" target="_blank"><img src="/assets/icons/DelabieMedia_Icon_Facebook.svg" alt="Facebook logo" height="21px"></a>
            <a href="https://www.youtube.com/@delabie_media" target="_blank"><img src="/assets/icons/DelabieMedia_Icon_YouTube.svg" alt="YouTube logo" height="21px"></a>
        </div>
        <div class="attribution">
            Uicons by <a href="https://www.flaticon.com/uicons" target="_blank">Flaticon</a>
        </div>
    </div>
</footer>