<header>
    <div class="header">
        <div class="left">
            <img src="/assets/DelabieMedia_Logo_Transparant_Wit.svg" alt="Delabie Media logo" height="75%">
        </div>
        <div class="middle">
            <a href="/">Home</a>
            <a href="/about">Over ons</a>
            <a href="/projecten">Projecten</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="right">
            <a href="tel:+32 493 97 32 62" target="_blank">(+32)493 97 32 62</a>
            <a href="mailto:info@delabiemedia.be" target="_blank">info@delabiemedia.be</a>
        </div>
    </div>
    <div class="header-mobile">
        <div class="left">
            <img src="/assets/icons/DelabieMedia_Icon_Menu.svg" alt="Delabie Media logo" width="32px" onclick="showMenu()">
        </div>
        <div class="middle">
            <img src="/assets/DelabieMedia_Logo_Transparant_Wit.svg" alt="Delabie Media logo" height="50%">
        </div>
        <div class="right">
            <a href="tel:+32 493 97 32 62" target="_blank">(+32)493 97 32 62</a>
            <a href="mailto:info@delabiemedia.be" target="_blank">info@delabiemedia.be</a>
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projecten">Projecten</a>
            <a href="/contact">Contact</a>
            <img class="close-menu" src="/assets/icons/DelabieMedia_Icon_Cross.svg" alt="Close menu" height="32px" onclick="closeMenu()">
        </div>
    </div>
</header>