.about {
  min-height: 100vh;
  padding: 200px 100px 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white);
}
@media screen and (max-width: 768px) {
  .about {
    padding: 125px 10px 50px 10px;
  }
}
.about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.about .content img {
  height: min(360px, 100vw);
}
.about .content p {
  max-width: 50ch;
  text-wrap: balance;
}
.about .content h2 {
  margin-top: 0;
}
.about .content a {
  color: var(--logo-magenta);
  text-decoration: none;
}
.about .content a:hover {
  color: var(--logo-green);
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .about .content {
    display: block;
  }
  .about .content h2 {
    margin-top: 0.5em;
  }
}