<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "ProfessionalService",
        "name": "Delabie Media",
        "description": "Delabie Media is a Belgium-based video production company specializing in aftermovies, music videos, and promotional content for artists, festivals, and brands.",
        "logo": "https://delabiemedia.be/assets/DelabieMedia_Logo_Transparant_Wit.svg",
        "email": "info@delabiemedia.be",
        "telephone": "+32 493 97 32 62",
        "url": "https://delabiemedia.be",
        "priceRange": "€450+",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Dorp-Oost 160",
            "postalCode": "9080",
            "addressLocality": "Lochristi",
            "addressCountry": "BE"
        },
        "founder": {
            "@type": "Person",
            "name": "Andreas Delabie",
            "sameAs": [
            "https://www.instagram.com/andreas_delabie",
            "https://www.facebook.com/andreasdelabie/",
            "https://www.imdb.com/name/nm13570500/",
            "https://letterboxd.com/Andreas_Delabie/"
            ]
        },
        "foundingDate": "2020",
        "sameAs": [
            "https://www.instagram.com/delabie_media",
            "https://www.facebook.com/delabiemedia/",
            "https://www.youtube.com/@delabie_media"
        ],
        "areaServed": [
            {
                "@type": "Country",
                "name": "Belgium"
            },
            {
                "@type": "City",
                "name": "Lochristi"
            },
            {
                "@type": "City",
                "name": "Ghent"
            }
        ]
    }
</script>