.giftcards {
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 200px 100px 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white);
}
@media screen and (max-width: 768px) {
  .giftcards {
    padding: 125px 10px 50px 10px;
  }
}
.giftcards .content {
  width: clamp(300px, 80vw, 1200px);
}
.giftcards .content a {
  color: var(--logo-magenta);
  text-decoration: none;
}
.giftcards .content a:hover {
  color: var(--logo-green);
  text-decoration: underline;
}